name: Check
on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_DATA_PRIVATE_KEY }}
        shell: bash
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      - name: Clone testing data
        run: git clone git@github.com:Fanteria/aoc-data.git ./data
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Run tests
        run: cargo test --verbose

  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt
      - name: Formatting
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy
      - name: Clippy
        run: cargo clippy --all-targets --all-features

